body {
    font-size: 14px;
    font-family: "Droid Sans", "Helvetica", "Ubuntu", Arial, Sans !important;
}

:focus, button.best-answer {
    outline: 3px auto #EED216;
}

#choose-gene-name {
    border-radius: 5px;
}

.imbedded-column-header {
    font-size: 11px;
}

.imbedded-cell, .imbedded-cell a {
    font-size: 10px;
}

.imbedded-table-container {
    width: 105%;
    max-width: 850px;
    margin-left: -1em;
    margin-top: 1.5em;
}

.imbedded-scroll-container {
    clear: both;
}

.apology-placeholder {
    width: 20em;
    padding: 1em;
    color: #888;
    border: 2px solid #F6E993;
}

#choose-gene {
    max-width: 75%;
}

button.gene-chooser {
    margin: 0.2em;
    width: 15em;
    height: 3em;
    float: left;
}

p.gene-summary {
    border: 2px solid #888;
    border-radius: 2px;
    padding: 0.3em;
    color: #333;
    width: 30em;
}

#page {
    border: 3px solid #555;
    padding: 2em;
    max-width: 900px;
    margin: 50px;
}

@media only screen and (max-width: 800px) {
    #page {margin: 5px;}
}

#data > div {
    border-bottom: 1px solid #ccc;
}

.logo {
    float: right;
    width: 48px;
    height: 48px;
}

span.summary-text {
    font-size: 0.9em;
    display: inline-block;
    font-style: oblique;
}
